.input {
    padding: 14px 24px;
    border-radius: 5px;
    background: white;
    
    // Reset style for focus
    outline: 0;
    box-shadow: none;
    border: 0;

    // Default to inline
    display: inline-block;

    &--search {
        background: #dfdfdf;
    }
}