.btn {
    padding: 14px 24px;
    background: lightgray;
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
    color: black;

    cursor: pointer;

    box-shadow: 0;

    transition: box-shadow 150ms ease;

    // Remove outline on focus
    outline: 0;

    // Remove on click border
    border: 1px solid lightgray;

    // Dont wrap text inside button || No new lines
    white-space: nowrap;

    // All buttons should be inline by default
    display: inline-block;

    &:hover {
        box-shadow: 0 1pt 4pt lightgray;
    }

    /* Variations */
    &--primary {
        background: #FA251C;
        border-color: #FA251C;
        color: white;

        &:hover {
            box-shadow: 0 1pt 4pt #FA251C;
        }
    }

    &--link {
        background: none;
        border: 0;
        text-decoration: none;
        opacity: 0.6;
        font-weight: normal;

        &.is-btn-active {
            color: #FA251C;
        }

        &.is-btn-disabled, &[disabled] {
            opacity: 0.2;
            pointer-events: none;
        }

        &:hover:not([disabled]):not(.is-btn-disabled) {
            opacity: 1;
            box-shadow: none;
        }
    }
}